---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Shell app</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
