---
import HeaderComponent from "../components/HeaderComponent.astro";
import Menu from "../components/Menu";
import AccountShell from "../components/account/account-shell";
import PersonShell from "../components/person/person-shell";
import SecurityOverview from "../components/securities/Security-Overview.astro";
import Layout from "../layouts/page-layout.astro";
import "./index.css";
---

<Layout>
  <div class="container">
    <header class="gray"><HeaderComponent /></header>
    <aside class="gray"><Menu /></aside>
    <main>
      <section class="contact-info red">
        <PersonShell />
      </section>
      <div class="content">
        <div class="account-data green">
          <AccountShell />
        </div>
        <div class="securities-list blue">
          <SecurityOverview />
        </div>
      </div>
    </main>
    <footer class="gray">Footer</footer>
  </div>
</Layout>
